@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url("./assets/img/fondo.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    height: 100vh;
}



.header {
    padding: 20px;
    
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #F12C55; 
}

h1 {
    color: white;
    margin: 10px 0;
}

h2 {
    color: white;
    margin: 10px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 2.2em;
    background-color: black; 
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background-color: #F12C55; /* Cambia el fondo al rojo */
    color: black; /* Cambia el color del icono a negro */
    transform: scale(1.2); /* Escala el icono */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.projects {
    margin: 20px 0;
}

.project {
    background-color: #F12C55; 
    color: black;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 60px;
    font-size: 1em; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img {
    width: 50px;  
    height: 50px;
    margin-right: 15px;
    border-radius: 100%;
    /* border: 2px solid #988836;  */
}

.project a{
    margin: 0;
    text-align: center;
    color: #333; 
    text-decoration: none;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #E12E4B;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
